.counter-box {
    display: block;
    padding: 40px 20px 37px;
    text-align: center;
    border-radius: 10px;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: rgba(248,249,250,255);
    font-size: 18px;
    font-weight: 500;
    font-family: sansation-regular;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: rgba(248,249,250,255);
    line-height: 28px;
    font-family: sansation-regular!important;
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: rgba(248,249,250,255)
}