@font-face {
    font-family: sansation-bold;
    src: url(../fonts/sansation_bold.ttf);
}
@font-face {
    font-family: sansation-regular;
    src: url(../fonts/sansation_regular.ttf);
}

/* Header: Navbar */
.navbar .container{
    padding-left: 0;
    padding-right: 0;
}
.fs-5{
    font-size: 1.3rem!important;
}
.fs-6 {
    font-size: 0.9rem!important;
}
header{
    height: auto;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.modal-backdrop{
    z-index: 1!important;
}
.color-black{
    color:black!important;
}
.color-primary{
    color: #113780!important;
}
.bg-primary{
    background-color: rgb(14 56 122)!important;
}
#brand{
    font-family: sansation-bold;
    color: #0e387a;
    font-size: 1.8rem;
}
.nav-link{
    color: black;
    transition: all ease 0.3s;
    position: relative;
    bottom:0px;
    text-decoration-color: black;
}
.nav-link:hover{
    color: #113780;
    position: relative;
    bottom:5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: #113780;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17,55,128,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
} 
.navbar-toggler{
    border-color:rgba(17,55,128,255);
    border-width:1px;
}
#products-row1{
    display: flex;
    justify-content:space-between;
}
#products-row1 div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#products-row2{
    display: flex;
    justify-content:space-between;
}
#products-row2 div{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
li{
    list-style: none;
}
.list-group{
    border: none!important;
}
.list-group a{
    text-decoration: none;
    color: black;
}
.list-group .list-group-item{
    border: none;
    color: black;
    transition: all ease 0.3s;
    text-decoration-color: black;
    bottom: 0px;
    font-size: 0.95rem;
    padding-right:0;
}
.list-group .list-group-item:hover{
    border: none;
    color: #113780!important;
    cursor: pointer;
    position: relative;
    bottom:5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: #113780;
}

#our-products{
    text-decoration: none;
    color: black;
    margin-left: 1.5rem;
    transition: all ease 0.3s;
    text-decoration-color: black;
    bottom: 0px;
}
#our-products:hover{
    color: #113780!important;
    cursor: pointer;
    position: relative;
    bottom:5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: #113780;
    
}

.btn-primary {
    color: #fff;
    background-color: #113780;
    border-color: #113780;
}

/* ------------------------------------------------------------------------------- */
/* Section: Home */
#home{
    margin-left: 1rem!important;
}
#gst{
    display: none;
}
.h-350{
    height: 300px!important;
}
.carousel-image img{
    height: 200px;
    width: 200px;
}
.owl-carousel p{
    font-family: sansation-regular;
    padding-top: 15%;
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
.owl-carousel .item{
    background-color: #01897d;
}
.owl-carousel .item:hover{
    cursor: pointer;
}
.owl-dots{
    display: none;
}
.item .fs-5{
    font-size: 1rem!important;
}
#heading{
    height: 125px;
}
#Home .separator{
    height: 17px;
}
.h-80{
    height: 80%;
}
.h-20{
    height: 20%;
}
.text-primary{
    color: #113780!important;
}
#carousel-image-1{
    background: url(../images/PharmaceuticalTablet/ZydusImatinibTablet.png) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-2{
    background: url(../images/PharmaceuticalTablet/VoriconazoleTablet.png) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-3{
    background: url(../images/PharmaceuticalTablet/CiplaImatinibTablet.png) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-4{
    background: url(../images/PharmaceuticalTablet/LopinavirAndRitonavirTablet.png) center / contain no-repeat;
    background-size: 50% 80%;
}
#carousel-image-5{
    background: url(../images/Antifungal/PosaconazoleTablet.jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-6{
    background: url(../images/Antifungal/Noxafil100MgTab\(posaconazoletablet\).jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-7{
    background: url(../images/Antifungal/Posaconazole100MgTablet\(CandipozGR\).jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-8{
    background: url(../images/Antifungal/LiposomalAmphotericinB50mgInjection\(AmphonexBharatSerum\).jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-9{
    background: url(../images/AntifungalInjection/LiposomalAmphotericinBInjection.jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-10{
    background: url(../images/AntifungalInjection/LiposomalAmphotericinB50mgInjectionAbhope\(Abbott\).jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-11{
    background: url(../images/AntifungalSyrup/PicasaPosaconazoleOralSuspension.jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-12{
    background: url(../images/PharmaceuticalInjection/MeropenemInjection.jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-13{
    background: url(../images/PharmaceuticalInjection/GlandEnoxaparinSodiumInjection.jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-14{
    background: url(../images/PharmaceuticalInjection/60mgEnoxaparinSodiumInjection.jpg) center / contain no-repeat;
    background-size: 80% 40%;
}
#carousel-image-15{
    background: url(../images/PharmaceuticalInjection/AbbottEnoxaparinSodiumInjection.jpg) center / contain no-repeat;
    background-size: 80% 40%;
}
#carousel-image-16{
    background: url(../images/PharmaceuticalCapsule/LenalidomideCapsule.jpg) center / contain no-repeat;
    background-size: 25% 80%;
}
#carousel-image-17{
    background: url(../images/PharmaceuticalCapsule/0.5mgTacrolimusCapsule.jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-18{
    background: url(../images/PharmaceuticalCapsule/1mgTacrolimusCapsule.jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
#carousel-image-19{
    background: url(../images//AntiCancerTablets/ImatinibTablet.jpg) center / contain no-repeat;
    background-size: 80% 80%;
}
.text-white{
    color: whtie;
}
.h1, h1 {
    font-size: 1.8rem;
}
h1{
    font-weight: lighter;
}
h1 span{
    font-weight: lighter;
    font-family: sansation-regular;
}
.separator{
    height: 70px;
}
h2{
    font-size: 1.6rem;
    font-family: sansation-regular;
    color: rgba(248,249,250,255);
    padding-bottom: 10px;
}
#product-btn-0 .btn-group, .btn-group-vertical {
    position: relative;
    display: flex;
    vertical-align: middle;
}
#product-btn-1 .btn-group, .btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    vertical-align: middle;
}
.border-primary{
    border-color: #113780!important;
}
.btn a{
    text-decoration: none;
    color: #113780!important;
    border-radius: 0rem;
    padding: .375rem 0rem;
    margin-right: .375rem;
    font-family: sansation-regular;
}
#product-btn-0 .btn{
    position: relative;
    bottom:0px;
    transition: all ease 0.2s;
    border-radius: 0!important;
}
#product-btn-1 .btn{
    display: -webkit-box;
    position: relative;
    bottom:0px;
    font-size: 1.05rem;
    transition: all ease 0.2s;
    border-radius: 0!important;
}
#product-btn-1{
    display: block;
    padding-left: 0;
    padding-right: 0;
}
#product-btn-0{
    display: none;
}
.btn:hover{
    position: relative;
    bottom:5px;
}
#last-button{
    margin-right: 0rem;
}
.owl-stage{
    padding-left: 0!important;
    padding-right: 0!important;
}
.fs-3 {
    font-size: 1.15rem!important;
}

/* -------------------------------------------------------------------------------------------- */
/* Section: About */

#about-separator{
    height: 90px;
}
#about-image-0{
    display: none;
    background-image: url(../images/About/aboutImage.png);
    background-repeat: no-repeat;
    background-size: 70% 80%;
    background-position: center;
}
#about-image-1{
    display: block;
    background-image: url(../images/About/aboutImage.png);
    background-repeat: no-repeat;
    background-size: 80% 70%;
    background-position: center;
}
#AboutUs p{
    color: rgba(248,249,250,255);
    font-family: sansation-regular;
    font-size: 0.95rem;
    text-align: justify;
}
#AboutUs .separator{
    height: 20px;
    margin-top: 10px;
}
#AboutUs h3{
    color: rgba(248,249,250,255)!important;
}
#AboutUs h3:hover{
    text-decoration-color: rgba(248,249,250,255)!important;
}
#achievement h2{
    padding-top: 30px;
    color: rgba(248,249,250,255);
}
.hover{
    cursor: pointer;
}
.modal{
    font-family: sansation-regular;
}
.modal-title{
    color: #0b2452!important;
}
.modal-body .container-fluid .row .col{
    padding-left: 0;
    padding-right: 0;
}
.icon-invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}
.row img{
    height: 40px;
    width: 40px;
}
#about-1{
    flex-direction: column;
}
#about-1-1{
    width: 100%!important;
    padding-right: 0!important;
}
#about-image-0{
    display: block;
    height: 300px;
    background-size: 50% 100%;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Section: footer */
#footer-contactus{
    padding-top: 55px;
}
#contact-separator{
    height: 90px;
}
#footer h2{
    padding-top: 34px;
    color: rgba(248,249,250,255);
}
#location{
    height: 70%;
    background-image: url(../images/Map/location.jpg);
    background-position: center;
    background-size: contain, cover;
    background-repeat: no-repeat;
}
#footer h3{
    font-family: sansation-regular;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color: rgba(248,249,250,255)!important;
}
.card{
    justify-content: center;
}
#footer p{
    color: rgba(248,249,250,255);
    font-family: sansation-regular;
    font-size: 0.95rem;
    text-align: justify;
    /* padding-top: 1rem; */
}
#footer h3:hover{
    text-decoration-color: rgba(248,249,250,255);
}
.icon-invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}
#footer-separator{
    height: 40px;
}
#footer a{
    transition: all ease 0.3s;
    bottom: 0px;
    color: rgba(248,249,250,255);
    text-decoration: none;
    text-decoration-color: rgb(14 56 122);
}
#footer a:hover{
    position: relative;
    bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(248,249,250,255);
}
#contact-content-1{
    padding-left: 0!important;
}
.small-icon{
    display: none!important;
}
.big-icon{
    display: none!important;
}
.medium-icon{
    display: inline!important;
}
#none{
    display: none;
}
.counter{
    font-size: 26px;
}
#contact-content-2 div{
    padding: 0!important;
}
.counter-box p{
    font-size: 0.9rem!important;
}
.px-5 p{
    text-align: center!important;
    margin: 0;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.03rem;
}